<% include head %>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/draft-lobby.js"></script>
<body class="body draft clearfix" ng-app='draftLobbyApp'>
  <div class="home container clearfix"  ng-controller='draftController'>
    <div class="top-buffer"></div>
    <nav class="container container-2 clearfix">
      <h2 class="league-name">Awesome League</h2>
      <h2 class="league-settings">&nbsp;League Settings</h2>
    </nav>
    <div class="draft-container clearfix">
      <h2 class="draft-title">
        Draft Lobby 
        <span ng-show="isCreator && !draftData.order && timeToDraft" ng-click="startDraft()" class="start-draft">
          START DRAFT
        </span>
      </h2>
      <div ng-controller='socketController'>
        <div class="element"></div>
        <input class="chat-type" placeholder="Don't be shy" type="text">
      </div>
      <button class="send-chat">SUB MIT</button>
      <div class="active-picker-container clearfix" ng-controller='socketController' ng-show="draftData.activePickerId === draftData.clientId + 1">
        <h3 class="active-notify">YOUR TURN!</h3>
        <h3 class="available-draftee-title">Your choices:&nbsp;</h3>
        <input class="draftee-search" placeholder="Start Typing a Name...." type="text">
        <button class="make-pick">Make Pick&nbsp;</button>
        <div class="draftee-selectors-container clearfix">
          <div ng-repeat="draftee in draftData.draftees" ng-show="draftee.available"class="draftee-input-container draftee-input-container-1 clearfix">
            <h4 class="draftee-name draftee-name-1">{{ draftee.name }}</h4>
            <input class="radio" type="radio" name="draft-pick">
          </div>
        </div>
      </div>
    </div>
    <div class="logo container clearfix">
      <h1 class="custo">&nbsp;Custo'</h1>
      <h1 class="drafto">Drafto'</h1>
    </div>
    <div ng-show="draftData.order" class="order-list-container clearfix">
      <h5 class="order-title">ORDER</h5>
      <h6 class="order-list" ng-repeat="member in orderSortedNames">
        {{ member.name }}
      </h6>
<!--  todo: figure out how to apply "active-picker" ng-class -->
    </div>
    <div class="draft-history-container clearfix">
      <h4 class="drafted-title">&nbsp;draft history</h4>
      <div class="selections-container clearfix">
        <div class="selection-container clearfix" ng-repeat="pick in formattedHistory">
          <h6 class="selection-spot">{{pick.round}}.{{pick.pickInRound}}</h6>
          <h6 class="player-drafted">{{pick.name}}</h6>
          <h6 class="drafted-by">{{pick.pickerName}}</h6>
        </div>
      </div>
    </div>
    <div class="available-container clearfix">
      <h4 class="available-draftees-title">&nbsp;available</h4>
      <div class="available-draftees clearfix">
        <h5 class="available-draftee" ng-repeat="draftee in draftData.draftees" ng-show="draftee.available">
          {{ draftee.name }}
        </h5>
      </div>
    </div>
    <footer class="_element-2"></footer>
    <aside class="container container-4 clearfix">
      <div class="auth container clearfix">
        <h5 class="logout auth-active">&nbsp;logout</h5>
        <h5 class="user-home auth-active">&nbsp;your acct</h5>
      </div>
    </aside>
  </div>
<% include foot %>