<% include head %>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="../scripts/draft-lobby.js"></script>
<body class="body draft clearfix" ng-app='draftLobbyApp'>
  <div class="home container clearfix"  ng-controller='draftController'>
    <div class="top-buffer"></div>
    <nav class="container container-2 clearfix">
      <h2 class="league-name">Awesome League</h2>
      <h2 class="league-settings">&nbsp;League Settings</h2>
    </nav>
    <div class="draft-container clearfix">
      <h2 class="draft-title">Draft Lobby</h2>
      <div class="element"></div>
      <input class="chat-type" placeholder="Don't be shy" type="text">
      <button class="send-chat">SUB MIT</button>
      <div class="active-picker-container clearfix">
        <h3 class="active-notify">YOUR TURN!</h3>
        <h3 class="available-draftee-title">Your choices:&nbsp;</h3>
        <input class="draftee-search" placeholder="Start Typing a Name...." type="text">
        <button class="make-pick">Make Pick&nbsp;</button>
        <div class="draftee-selectors-container clearfix">
          <div class="draftee-input-container draftee-input-container-1 clearfix">
            <h4 class="draftee-name draftee-name-1">Blake Bortles</h4>
            <input class="radio" type="radio">
          </div>
          <div class="draftee-input-container draftee-input-container-2 clearfix">
            <h4 class="draftee-name draftee-name-2">Blake Bortles</h4>
            <input class="radio radio-2" type="radio">
          </div>
          <div class="draftee-input-container draftee-input-container-3 clearfix">
            <h4 class="draftee-name draftee-name-3">Blake Bortles</h4>
            <input class="radio" type="radio">
          </div>
          <div class="draftee-input-container draftee-input-container-4 clearfix">
            <h4 class="draftee-name draftee-name-4">Blake Bortles</h4>
            <input class="radio" type="radio">
          </div>
          <div class="draftee-input-container draftee-input-container-5 clearfix">
            <h4 class="draftee-name draftee-name-5">Blake Bortles</h4>
            <input class="radio" type="radio">
          </div>
        </div>
      </div>
    </div>
    <div class="logo container clearfix">
      <h1 class="custo">&nbsp;Custo'</h1>
      <h1 class="drafto">Drafto'</h1>
    </div>
    <div class="order-list-container clearfix">
      <h5 class="order-title">ORDER</h5>
      <h6 class="order-list order-list-1">jerbear</h6>
      <h6 class="order-list active-picker">jerbear</h6>
      <h6 class="order-list order-list-3">jerbear</h6>
      <h6 class="order-list order-list-4">jerbear</h6>
      <h6 class="order-list order-list-5">jerbear</h6>
      <h6 class="order-list order-list-6">jerbear</h6>
      <h6 class="order-round-direction">R1-v</h6>
    </div>
    <div class="draft-history-container clearfix">
      <h4 class="drafted-title">&nbsp;draft history</h4>
      <div class="selections-container clearfix">
        <div class="selection-container clearfix">
          <h6 class="selection-spot">1.1&nbsp;</h6>
          <h6 class="player-drafted">Johnny Manziel</h6>
          <h6 class="drafted-by">&nbsp;jerbear</h6>
        </div>
        <div class="selection-container selection-container-2 clearfix">
          <h6 class="selection-spot">1.2</h6>
          <h6 class="player-drafted">Johnny Manziel</h6>
          <h6 class="drafted-by">&nbsp;jerbear</h6>
        </div>
        <div class="selection-container selection-container-3 clearfix">
          <h6 class="selection-spot">1.3&nbsp;</h6>
          <h6 class="player-drafted">Johnny Manziel</h6>
          <h6 class="drafted-by">&nbsp;jerbear</h6>
        </div>
      </div>
    </div>
    <div class="available-container clearfix">
      <h4 class="available-draftees-title">&nbsp;available</h4>
      <div class="available-draftees clearfix" ng-repeat="draftee in draftData.draftees">
        <h5 class="available-draftee" ng-show="draftee.available">
          {{ draftee.name }}
        </h5>
      </div>
    </div>
    <footer class="_element-2"></footer>
    <aside class="container container-4 clearfix">
      <div class="auth container clearfix">
        <h5 class="logout auth-active">&nbsp;logout</h5>
        <h5 class="user-home auth-active">&nbsp;your acct</h5>
      </div>
    </aside>
  </div>
<% include foot %>