<% include head %>
<body class="body home clearfix">
  <div class="home container home-1 clearfix">
    <div class="top-buffer"></div>
    <nav class="container container-2 clearfix">
      <h2 class="start-league">Start a League</h2>
      <h2 class="join-league">&nbsp;Join a League</h2>
    </nav>
    <div class="chat container clearfix">
      <h2 class="chat-title">Custo chat</h2>
      <div class="element"></div>
      <div class="chat-info">
        <p>type '/n your name' to set your name</p>
        <p>type '/all' to see all current chatters</p>
        <p>type '/troll (chatter's name)' to report a troll</p>
        <p>&nbsp;</p>
      </div>
      <input class="chat-type" placeholder="Don't be shy" type="text">
      <button class="send-chat">SUB MIT</button>
    </div>
    <div class="logo container clearfix">
      <h1 class="custo">&nbsp;Custo'</h1>
      <h1 class="drafto">Drafto'</h1>
    </div>
    <div class="mascot container clearfix">
      <img class="mascot-pic" src="images/tricera.png">
      <h6 class="mascot-label">the rare custodrafseratops</h6>
    </div>
    <footer class="_element-2"></footer>
    <aside class="container container-6 clearfix">
      <% include auth %>
    </aside>
  </div>
<% include foot %>
