<% include head %>
<body class="body league clearfix">
  <div class="home container clearfix">
    <div class="top-buffer"></div>
    <nav class="container container-2 clearfix">
      <h2 class="league-title">Awesome League</h2>
      <h2 class="edit-draft draft-active">View Draft</h2>
    </nav>
    <div class="teams-container clearfix">
      <h1 class="teams-title">Teams</h1>
      <div class="team-container team-container-1 clearfix">
        <h4 class="team-title">jerbear</h4>
        <h4 class="team-score">1,000</h4>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
      </div>
      <div class="team-container clearfix">
        <h4 class="team-title">a great player</h4>
        <h4 class="team-score">1,000</h4>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
      </div>
      <div class="team-container clearfix">
        <h4 class="team-title">nice guy</h4>
        <h4 class="team-score">1,000</h4>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
      </div>
      <div class="team-container clearfix">
        <h4 class="team-title">a dinosaur</h4>
        <h4 class="team-score">1,000</h4>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
      </div>
      <div class="team-container team-container-5 clearfix">
        <h4 class="team-title">a wizard</h4>
        <h4 class="team-score">1,000</h4>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
      </div>
      <div class="team-container clearfix">
        <h4 class="team-title">tyrion lannister</h4>
        <h4 class="team-score">1,000</h4>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
        <h6 class="team-member">team member</h6>
        <h6 class="team-member-score">25</h6>
      </div>
    </div>
    <div class="logo container clearfix">
      <h1 class="custo">&nbsp;Custo'</h1>
      <h1 class="drafto">Drafto'</h1>
    </div>
    <div class="tools container clearfix">
      <h3 class="league-tools">League Tools</h3>
      <h5 class="access-code">access-code: xH7Wg9</h5>
      <h5 class="league-settings">league rules</h5>
      <h5 class="admin-panel">edit draft/input scores</h5>
    </div>
    <div class="scoreboard-container clearfix">
      <h3 class="scoreboard-title">Scoreboard</h3>
      <h5 class="member member-1">jerbear</h5>
      <h6 class="score score-1">&nbsp;1,000</h6>
      <h5 class="member member-2">a great player</h5>
      <h6 class="score score-2">&nbsp;5</h6>
      <h5 class="member member-3">nice guy</h5>
      <h6 class="score score-3">3</h6>
      <h5 class="member member-4">a dinosaur</h5>
      <h6 class="score score-4">&nbsp;1</h6>
      <h5 class="member">a wizard</h5>
      <h6 class="score">&nbsp;0</h6>
      <h5 class="member">tyrion lannister</h5>
      <h6 class="score">&nbsp;-2'</h6>
    </div>
    <footer class="_element"></footer>
    <aside class="container container-5 clearfix">
      <div class="auth container clearfix">
        <h5 class="logout auth-active">&nbsp;logout</h5>
        <h5 class="user-home auth-active">&nbsp;your acct</h5>
      </div>
    </aside>
  </div>
<% include foot %>