<% include head %>
<script src="../scripts/new-user.js"></script>
<body>
  <form name="newUser" id="newUser" action="/signup" method="post">
    <input class="form-name" type="text" name="name" placeholder="Name" required>  
    <input class="form-email" type="email" name="email" placeholder="Email" required>
    </div>
    <input class="form-pw" type="password" name="password" placeholder="password" required>
    <input class="form-confirm" type="password" name="confirm" placeholder="confirm" required>
    <input class="button" type="submit" value="Signup">
  </form>
<% include foot %>