<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <script src="bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/<%= title %>.css">
  <title><%= title %></title>
</head>
<body>
  boooo yaaaa