<% include head %>
<body class="body index clearfix">
  <div class="home container clearfix">
    <div class="top-buffer"></div>
    <nav class="container container-2 clearfix">
      <h2 class="start-league">Start a League</h2>
      <h2 class="join-league">&nbsp;Join a League</h2>
    </nav>
    <div class="logo container clearfix">
      <h1 class="custo">&nbsp;Custo'</h1>
      <h1 class="drafto">Drafto'</h1>
    </div>
    <footer class="_element"></footer>
    <aside class="container container-4 clearfix">
      <div class="auth container clearfix">
        <h5 class="sign-up auth-active">&nbsp;sign up</h5>
        <h5 class="sigin-in auth-active">sign in</h5>
      </div>
    </aside>
  </div>
<% include foot %>
